<!DOCTYPE html>

%html
  %head
    %title My Own
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
  %body
    = render :partial => '/shared/header_nav'
    
    #application-content
      = yield

